
* {
  font-family: "DK Lemon Yellow Sun";
}

.info-cntr {
  display: flex;
  flex-direction: row;
  width: 186px;
  padding: 0;
}
.limit-overview{
  overflow: hidden;
  max-height: 10ch;
}

#b {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(168, 151, 53);

}

#p {
  flex: 1;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width:350px;
   font-size: 16px;
}

.imgClass {
  border-radius: 3px;
}

.imgClass:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hover-shadow:hover {
  transform: scale(1.06);
  transition: .2s;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

body {
  background-color: #f8f9fa;
  /*background-color: #343a40;*/
  padding-bottom: 10%;
  /*color: whitesmoke;*/
}
h1 {
  margin-top: 80px;
}
.edit-h1{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather{
  margin-top: 1%;
  margin-bottom: 1.5%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media(max-width: 900px){
  h1{
    margin-top: 70px;
  }
  .weather{
    justify-content: center;
    padding-top: 20px;
  }
}


