<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><i class="fas fa-fish ml-3 fa-lg"></i></a>
    <button class="navbar-toggler navbar-toggler-left"
    type="button"
    aria-controls="mobileNavbar"
    aria-expanded="false"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle mobile navigation"
    (click)="toggleMenu()"
    >
    <span class="dark-blue-text"><i class="fas fa-bars fa-1x">

    </i></span>
  </button>

    <div class="collapse navbar-collapse" id="mobileNavbar" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav me-auto my-2 my-lg-0 ml-auto" style="--bs-scroll-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]='["/welcome"]'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]='["/moviesApi"]'>Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/search-movie']">Search</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginService.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['/my-account']">
            Account
          </a>
        </li>

        <li>
          <a *ngIf="!loginService.isUserLoggedIn()" [routerLink]="['/login']" class="nav-link">
            <i class="fas fa-user fa-2.5x"></i>
          </a>
          </li>

          <li>
            <a *ngIf="loginService.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['/logout']">

              <i class="fas fa-sign-out-alt ml-1"></i>
            </a>
          </li>
          <li>
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link">
              <cite class=" username">Hi, {{username}}</cite>
            </a>
          </li>

      </ul>
    </div>
  </div>
</nav>
</header>


